<div class="col-lg-3 col-lg-offset-1" ng-controller="createProject">
    <h3>Create Project</h3>
    <form ng-submit="register()" style="margin-top: 30px;">
        <div class="form-group">
            <label  for="name" >
                <b>Name</b>
            </label>
            <div >
                <input id="name" ng-model="name" class="form-control" type="text"  />
            </div>
        </div>
        <div class="form-group">
            <label  for="brief" >
                <b>Brief</b>
            </label>
            <div >
                <input id="brief" ng-model="brief" class="form-control" type="text"  />
            </div>
        </div>
        <div class="form-group">
            <label  for="industry" >
                <b>Industry</b>
            </label>
            <div >
                <input id="industry" ng-model="industry" class="form-control" type="text"  ng-change="showIndustries()" />
                <div class="autosuggest" ng-show="suggestedInd.length">
                    <ul class="dropdown-menu" style="display: block;left: 15px; width: 60%; cursor: pointer;">
                        <li class="" ng-repeat="ind in suggestedInd">
                            <a ng-click="selectIndustry(ind)">{{ ind.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label  for="skills" >
                <b>Skills</b>
            </label>
            <div >
                <input id="skills" ng-model="skills" class="form-control" type="text" ng-change="showSkills()" />
                <div style="width : 100%;padding : 5px 0px 5px 0px;">
                    <span class="label label-primary" ng-repeat="sk in selectedSkills" style="margin-right: 5px; margin-top: 2px;">{{ sk }}</span>
                </div>
                <div class="autosuggest" ng-show="skillSuggest.length">
                    <ul class="dropdown-menu" style="display: block;left: 15px; width: 60%; cursor: pointer;">
                        <li class="" ng-repeat="skill in skillSuggest">
                            <a ng-click="addSkill(skill)">{{ skill.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
    <a href="#" class="btn btn-primary btn-lg col-lg-3" ng-click="register()" >
        Register
    </a>
    <div class="alert alert-danger col-lg-8 col-lg-offset-1" role="alert" ng-if="error">{{ error }}</div>
</div>