<div class="col-lg-3 col-lg-offset-1" ng-controller="login">
    <h3>Login</h3>
    <form ng-submit="login()" style="margin-top: 30px;">
        <div class="form-group">
            <label for="name" >
                <b>Name</b>
            </label>
            <div>
                <input id="name" ng-model="name" class="form-control" type="text"  />
            </div>
        </div>
    </form>
    <a href="#" class="btn btn-primary btn-lg col-lg-3" ng-click="login()" >
        Login
    </a>
    <div class="alert alert-danger col-lg-8 col-lg-offset-1" role="alert" ng-if="error">{{ error }}</div>
</div>