<div class="col-lg-10 col-lg-offset-1" ng-controller="viewProject">
    <h3>Project Details</h3>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <td>Brief</td>
                <td>{{ project.brief }}</td>
            </tr>
            <tr>
                <td>Industry</td>
                <td>{{ project.industry }}</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td><span class="label label-primary" ng-repeat="sk in project.skills" style="margin-right: 5px; margin-top: 2px;">{{ sk }}</span></td>
            </tr>
        </tbody>
    </table>
    <h3>Experts</h3>
    <table class="table table-bordered table-striped" ng-if="experts.length">
        <thead>
            <tr>
                <td>Name</td>
                <td>Location</td>
                <td>Summary</td>
                <td>Industry</td>
                <td>Skills</td>    
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="expert in experts">
                <td>{{ expert.name }}</td>
                <td>{{ expert.location }}</td>
                <td>{{ expert.description }}</td>
                <td>{{ expert.industry }}</td>
                <td><span class="label label-primary" ng-repeat="sk in project.skills" style="margin-right: 5px; margin-top: 2px;">{{ sk }}</span></td>
            </tr>
        </tbody>
    </table>
</div>