/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jan, 2018, 5:03:40 PM
    Author     : shani
*/

body {
    background: #f1f3f6;
}

.header{
    background: #ccc;
    
}

.loader {
    background: url(../img/ajax-loader.gif);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    min-height: 10px;
    min-width: 20px;
}

.dot{
    border-radius: 4px;
    min-width: 8px; min-height: 8px;
    line-height: 1; top: 1px; display: inline-block;
}

.dot.green{
    background: greenyellow;
    
}

.dot.red{
    background: red;
}

.value.progress{
    text-align: center;
    width: 100%; height : 40px;
    font-size: 16px;
    font-weight: bold;
}

.value .progress-bar{
    font-size: 16px;
    padding: 8px 2px;
    font-weight: bold;
}

.gallery .carousel-cell{
    height: 250px;
    margin-left: 10px;
}
.gallery .carousel-cell img{
    height: 200px;
    width : 300px;
    margin: 0px 10px;
}
.gallery .carousel-cell .caption{
    width : 300px;
    margin: 0px 10px;
    padding: 5px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}
.gallery .carousel-cell .caption2{
    width : 300px;
    margin: 0px 10px;
    padding: 5px 0px;
    text-align: center;
    font-size: 12px;
}

.homenav{
    background: #d9dbfe;
    border-radius: 2px;
    border-top: 1px solid #eaeaea;
    box-shadow : 0 2px 4px 0 #eaeaea;
    margin-bottom: 2px;
    
}

.homebox{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 2px;
    border-top: 1px solid #eaeaea;
    box-shadow : 0 2px 4px 0 rgba(0, 0, 0, .08);
}


.footer{
    border-bottom: 1px solid #aaa;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #ffffff;
    margin-top: 20px;
}

.gallery{
    padding: 5%;
    background-color: white;
}

.galleryitem {    
    position: relative; width: 24%; float : left; margin-bottom: 40px; margin-left: 1%;
}

.desc a{
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 14px; margin: 4px 0px;
}

.galleryitem .desc{
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 0;
    position: absolute; bottom: 5px; width: 100%; background: white;
    text-align: center;
    font-size: 14px; font-weight: bold;
}

.galleryitem:hover .desc{
    opacity: 0.9;
}

.galleryitem div.imagecontainer{
    position: relative;
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word;
    margin: 0 auto;
}
.galleryitem div.imagecontainer img{
    margin: auto;
    width: 100%;
    height: 240px;
}

.product{
    position: relative; width: 25%; float : left; margin-bottom: 40px;
}

.product{
    padding: 16px;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.product a{
    position: relative; display: block; text-decoration: none;
}

.product a.title{
    padding: 5px 0;
    overflow: hidden;
    display: block;
    text-align: left;
}
.product div.subtitle{
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word;
    text-align: left;
    text-transform: uppercase;
}
.product a.price{
    display: block;
    padding: 0 10px 0 0;
    margin: 3px 0;
    text-align: left;
}
.product a.price .actual{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.product a.price .tagged{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    color: #878787;
}
.product a.price .off{
    display: inline-block;
    margin-left: 8px;
    color: #388e3c;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-weight: 500;
}
.product div.imagecontainer{
    position: relative;
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word;
    margin: 0 auto;
}

.product div.imagecontainer img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.pricerange input{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#designer input,#designer select{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background: white;
    margin-bottom: 10px;
}

#designer small{
    text-transform: uppercase;
    font-size: 12px;
}

.productImg{
    border: 1px solid #ccc;
    padding: 0px 10px 20px 10px;
    margin-top: 20px;
}

.producttitle{
    font-size: 16px;
    font-weight: bold;
}
.productDetail{
    
}

.productDetail .actualprice{
    font-size: 28px;
    vertical-align: sub;
    display: inline-block;
    font-weight: 500;
    color: #212121;
}
.productDetail .mrp{
    font-size: 16px;
    margin-left: 12px;
    vertical-align: middle;
    color: #878787;
    text-decoration: line-through;
    display: inline-block;
}
.productDetail .off{
    margin-left: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #388e3c;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: -0.2px;
}
 

.specs{
    border: 1px solid #000;
    padding: 20px;
}

.specs table{
    
}

.fieldtitle {
    width : 150px; padding: 5px;
}

.fieldvalue {
    width : 150px; padding: 5px;    
}

.productbar {
    margin-top: 20px;
}

.productbar .product{
    width : 150px; padding: 15px; background: white;
    box-shadow: 0px 0px #fff; margin-bottom: 0px;
}

.gallerybar{
     margin-top: 20px;
}

.gallerybar .product{
    width : 250px; padding: 10px; background: white;
    box-shadow: 0px 0px #fff; margin-bottom: 0px;
}

.bargrandad{
    width: 96%; position: relative; float: left; overflow: hidden; margin: 0% 2%;
}

.bardad{
    width: 500%; position: relative; left: 0px;
}

.galleryleft,.galleryright{
    position: absolute; top: 45%; min-height: 30px; min-width: 30px; height: 80px; width: 30px;
    cursor: pointer; border: 1px solid #ccc; background: #f1f1f1; opacity: 0.6;
}
.galleryleft{
     left: 10px;
}
.galleryright{
    right: 10px;
}

.galleryleft:hover,.galleryright:hover{
    opacity: 1; background: #f2f2f2;
}

.galleryleft .glyphicon {
    position: absolute;
    top: 30px;
    left: 6px;
}

.galleryright .glyphicon {
    position: absolute;
    top: 30px;
    right: 6px;
}

#loadchart .arc text {
  font: 10px sans-serif;
}

#loadchart .arc path {
  stroke: #fff;
}

#profitchart .chart rect {
  stroke: white;
  fill-opacity: .6;
  fill: steelblue;

}

#profitchart .bar.positive {
  fill: green;
  fill-opacity : 0.95;
}

#profitchart .bar.positive text {
  fill: black;
  fill-opacity : 1;
  font-size: 12px;
}

#profitchart .bar.negative {
  fill: brown;
  fill-opacity : 0.95;
}

#profitchart .bar.negative text {
  fill: black;
  fill-opacity : 1;
  font-size: 12px;
}

#profitchart .bar.positive:hover {
  fill: green;
  fill-opacity : 0.6;
}

#profitchart .bar.negative:hover {
  fill: brown;
  fill-opacity : 0.6;
}

#profitchart .axis text {
  font: 10px sans-serif;
}

#profitchart .axis path,#profitchart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#profitchart .bar.positive { fill: url(#Gradient1); }
.stop1 { stop-color:lightgreen; stop-opacity: 0.8;  }
.stop2 { stop-color: green; }

#profitchart .bar.negative { fill: url(#Gradient2); }
.stop3 { stop-color:lightbrown; stop-opacity: 0.8;  }
.stop4 { stop-color: brown; }

.solutionitem {
    padding : 5px 0px 0px 5px; font-size: 12px; font-weight: bold; text-align: left;
}
.solutionitem img{
    display: block; height: 100px;margin : 0 auto;
}
.solutionitem .img{
    border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;padding: 5px 0px;
}
.solutionitem button{
    padding : 2px 5px; font-size: 16px; width : 100%;
}
.solutionitem .x{
     top: 7px;position: absolute; left: -8px;font-weight: bold; font-size: 20px; display: none;
}
.solutionitem .itemname{
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.solutionitem .qty{
    padding-left: 0px;
}
#cart .breadcrumb{
    font-size: 14px; background: white; padding: 10px 0px;
}
#cart .breadcrumb>li+li{
    border-left: 1px solid #ccc;
}
#cart .breadcrumb>li+li:before{
    content: "";
    padding: 0px;
}
#cart .breadcrumb>li{
    padding : 5px; width : 100px;text-align: center; background : #ececec;color : black;
    cursor: pointer;border-radius: 20px;
}
#cart .breadcrumb>li:hover{
    background: #56d65e;color : white;
}
#cart .breadcrumb>li.link{
    padding : 2px; width : 30px;
    cursor: none;
}
#cart .breadcrumb>li.done{
    background: #0f7115;color : white;
}
#cart .breadcrumb>li.active{
    background: #199e21;color : white;
}
#cart #address form label{
    text-align: left;
}