/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jan, 2018, 5:03:40 PM
    Author     : shani
*/

body {
    background: #f1f3f6;
}

.loader {
    background: url(../img/ajax-loader.gif);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    min-height: 10px;
    min-width: 20px;
}

.autosuggest{
    float: left;
    position: absolute;
    width: 100%;
    left: 0px;
}